table {
    border: 1px solid;
    border-collapse: collapse;
    tr:nth-child(even) {background-color: lime;}
  }
table {
    width: 80%; /* weboldal szélessége */
    background-color: green;
    color:white;
    font-family: 'Courier New';
    font-size: 30px;
  }
#keses {
  text-align: center;
  background-color: red;
}