table {
    border: 1px solid;
    border-collapse: collapse;
  }
table {
    width: 80%; /* weboldal szélessége */
    background-color: green;
    color:white;
    font-family: 'Courier New';
    font-size: 30px;
  }